Repository cisagov/skeleton-packer, pull requests merged in 2022-11, with the labels that each got.

#141 Add automated security updates
  src/base.yml
  src/requirements.yml
Labels: blocked, improvement

#136 Force the Ansible provisioner to use sftp instead of scp
  src/packer.pkr.hcl
Labels: blocked, improvement

#173 Fix overly match-happy sed commands
  bump_version.sh
Labels: bug, blocked

#188 Update the version of the second `bandit` hook
  .pre-commit-config.yaml
Labels: bug

#191 Remove Debian Buster-specific configuration elements
  src/aws.yml
  src/requirements.yml
Labels: improvement, kraken 🐙
