Repository cisagov/skeleton-packer, pull requests merged in 2023-10, with the labels that each got.

#278 Prefer `true`/`false` to `yes`/`no` in YAML files
  src/aws.yml
  src/base.yml
  src/example.yml
  src/python.yml
  src/upgrade.yml
Labels: improvement, hacktoberfest-accepted, kraken 🐙

#266 Explicitly list Packer plugin dependencies
  .github/workflows/build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  setup-env
  src/packer.pkr.hcl
Labels: improvement, dependencies, github-actions, kraken 🐙

#279 Alphabetize parts of the the Terraform configurations
  terraform-build-user/backend.tf
  terraform-build-user/main.tf
  terraform-build-user/providers.tf
  terraform-build-user/remote_states.tf
  terraform-post-packer/backend.tf
  terraform-post-packer/providers.tf
  terraform-post-packer/variables.tf
Labels: improvement, hacktoberfest-accepted, terraform, kraken 🐙

#280 Add two new repository labels
  .github/labels.yml
Labels: improvement, hacktoberfest-accepted, github-actions, kraken 🐙
