Repository cisagov/skeleton-packer, pull requests merged in 2024-05, with the labels that each got.

#314 Remove unused variables in the `prerelease.yml` workflow
  .github/workflows/prerelease.yml
Labels: improvement, github-actions

#319 Fix the formatting for commented out ignore directives
  .github/dependabot.yml
Labels: bug

#329 Install and configure `systemd-resolved`
  src/base.yml
  src/requirements.yml
  src/version.txt
Labels: bug, breaking change, version bump, kraken 🐙, ansible

#330 Add reminder that pin must be in sync with two other places
  requirements.txt
Labels: documentation, kraken 🐙
