Repository cisagov/skeleton-packer, pull requests merged in 2024-12, with the labels that each got.

#378 Refactor the repository layout
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
  .pre-commit-config.yaml
  .terraform-docs.yml
  README.md
  ami_arm64.pkr.hcl
  ami_x86_64.pkr.hcl
  ansible/aws.yml
  ansible/base.yml
  ansible/example.yml
  ansible/install-prerequisites-for-netplan-configuration-fix.yml
  ansible/playbook.yml
  ansible/python.yml
  ansible/requirements.yml
  ansible/upgrade.yml
  base_amis.pkr.hcl
  build.pkr.hcl
  bump_version.sh
  locals.pkr.hcl
  requirements.txt
  setup-env
  src/packer.pkr.hcl
  tests/test_version.py
  variables.pkr.hcl
  version.txt
  versions.pkr.hcl
Labels: documentation, breaking change, improvement, hacktoberfest-accepted, kraken 🐙, packer

#377 Replace the `bump_version.sh` script
  README.md
  bump-version
  bump_version.sh
  requirements.txt
Labels: improvement, hacktoberfest-accepted

#379 Change the format of the version tracking file
  bump-version
  setup-env
  tests/test_version.py
  version.txt
Labels: breaking change, improvement, hacktoberfest-accepted, kraken 🐙

#384 Use the correct `packer build` commands
  README.md
Labels: documentation
