Repository cisagov/skeleton-packer, pull requests merged in 2025-01, with the labels that each got.

#389 Ensure the `bump-version` script can bump pre-releases
  bump-version
Labels: bug, kraken 🐙

#392 Add a comment explaining why we require `semver>=3`
  requirements.txt
Labels: documentation, kraken 🐙

#393 Support new COOL environment structure
  .github/workflows/build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  ami_arm64.pkr.hcl
  ami_x86_64.pkr.hcl
  terraform-build-user/backend.tf
  terraform-build-user/main.tf
  terraform-build-user/providers.tf
  terraform-build-user/remote_states.tf
  terraform-build-user/variables.tf
  terraform-post-packer/backend.tf
  terraform-post-packer/caller_identity.tf
  terraform-post-packer/main.tf
  terraform-post-packer/variables.tf
  variables.pkr.hcl
  version.txt
Labels: improvement, kraken 🐙
